<!DOCTYPE html>
<html lang="en">

<head>
	<title>SIGENOR</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="static/css/animate.css">

	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="static/css/magnific-popup.css">

	<link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="static/css/jquery.timepicker.css">


	<link rel="stylesheet" href="static/css/flaticon.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body>

	<div class="wrap">
		<div class="container">
			<div class="row justify-content-between">

				<div class="col-12 col-md d-flex justify-content-md-end">

					<div class="social-media">
						<p class="mb-0 d-flex">
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container" >
			<li><a class="navbar-brand" href="#index"><img src="/static/images/logo2.png">SIGENOR</a></li>
			

			<div class="collapse navbar-collapse" id="ftco-nav">

				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Docentes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="docenteAdd#registro">Crear Docentes</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="docenteEdit#modificar">Modificar Docentes</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Estudiantes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#registroE">Crear Estudiantes</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="estudianteEdit#modificarE">Modificar Estudiantes</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Asignatura
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="asignatura#registroA">Crear Asignaturas</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="asignatura#modificarA">Modificar Asignatura</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Grupos
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="grupoAdd#registroG">Crear Grupos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="grupoEdit#modificarG">Modificar Grupos</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Usuarios
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#registro">Crear Usuarios</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="">Modificar Usuarios</a>
						</div>
					</li>

					<li class="nav-item"><a href="" class="nav-link">Cerrar Sesión</a></li>
					<!--<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
					<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li> 
					-->
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<section class="hero-wrap" id="index">
		<div class="home-slider owl-carousel js-fullheight">
			<div class="slider-item js-fullheight" style="background-image:url(/static/images/PrimerFondo.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate">
							<div class="text w-100 mt-5 text-center">
								<h1>SIGENOR</h1>
								<span class="subheading-2">2020</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight" style="background-image:url(/static/images/SegundoFondo.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate">
							<div class="text w-100 mt-5 text-center">
								<h1>Evaluación por medio de rubricas</h1>
								<span class="subheading-2">2020</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




	<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt" id="registroE">
		<div class="container">
			
			<div class="row no-gutters">
				<div class="col-sm-4 p-4 p-md-5 d-flex align-items-center justify-content-center bg-dark">
					<form action="/estudianteAdd" class="appointment-form" method="POST">
						<br>
						<h3 class="mb-3">Registro Estudiantes</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Codigo Estudiante"
									name="codigoEstudiante" required="Ingrese el Codigo del estudiante">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Nombres"
									name="nombres" required="Ingrese los nombres del estudiante ">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Apellidos"
									name="apellidos" required="Ingrese los apellidos del estudiante">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email"
									name="correo" required="Ingrese el email del estudiante">
								</div>
							</div>
							

							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Registrar" class="btn btn-white py-3 px-4">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-8 wrap-about py-5 ftco-animate img"
					style="background-image: url(/static/images/estudiantes1.jpg);">
					<div class="row pb-5 pb-md-0">
						<div class="col-md-12 col-lg-7">
							<div class="heading-section mt-5 mb-4">
								<div class="pl-lg-3 ml-md-5">
									<span class="subheading" style="color:#329CFF; size: 14px">Información
										Estudiantes</span>
								</div>
							</div>
							<div class="pl-lg-3 ml-md-5">
								<p>
									<FONT size=4 COLOR="white">
										En esta sección podrá agregar usuarios estudiantes al llenar todos los datos y
										proceder a
										dar click en el boton registrar.

										Si desea modificar algún estudiante creado anteriormente dirijase a la sección
										Estudiantes-Modificar.

									</FONT>



								</p>
								

								<table class="table table-bordered" style="background-color:burlywood; color: darkblue" width="1200" align="center">
									<thead>
									  <tr>
										<th>N°</th>
										<th>codigo</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Email</th>
									  </tr>
									</thead>
									<tbody>	
										
										<%if (mensaje == "") { %>
											<% for(var i = 0; i < estudiante.length; i++){ %>
											<tr>
											  <td><%= i + 1 %></td>
											  <td><%= estudiante[i].codigoEstudiante %></td>
											  <td><%= estudiante[i].nombres %></td>
											  <td><%= estudiante[i].apellidos %></td>
											  <td><%= estudiante[i].correo %></td>

											</tr>
											<% } %>
											<% } else if(position == -1) { %>
											<tr>
												<td><%= i + 1 %></td>
												<td><%= estudiante[i].codigoEstudiante %></td>
												<td><%= estudiante[i].nombres %></td>
												<td><%= estudiante[i].apellidos %></td>
												<td><%= estudiante[i].correo %></td>
											 
											</tr>
											<% } %>
											<%= mensaje %>
									</tbody>
								  </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	



	<footer class="ftco-footer ftco-no-pb ftco-section">
		
		<div class="container">
			<div class="row mb-4">
				<div class="col-md-6 col-lg-7">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2" style="text-align: center;">Desarrolladores</h2>
						<ul class="list-unstyled open-hours">
							<li class="d-flex"><span>José Manuel Córdoba Sandoval</span><span>jose.cordoba01@uptc.edu.co</span></li>
							<li class="d-flex"><span>Santiago Mariño Vasquéz</span><span>santiago.marino@uptc.edu.co</span></li>
							<li class="d-flex"><span>Holman Orlando Ricaurte Rey</span><span>holman.ricaurte01@uptc.edu.co</span></li>
							
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2" style="text-align: center;">SIGENOR</h2>
						<div class="text-center">						<img src="/static/images/logo2.png" class="img-fluid" alt="Responsive image">
						</div>

						<p>
							Aplicacion para la gestión de notas por medio de rubricas, creada por y para estudiantes.
						</p>
						
					</div>
				</div>

			</div>
		
			<div class="container-fluid px-0 bg-primary py-3">
				<div class="row no-gutters">
					<div class="col-md-12 text-center">

						<p class="mb-0">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved SIGENOR</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
	</footer>


	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" /></svg></div>


	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.easing.1.3.js"></script>
	<script src="static/js/jquery.waypoints.min.js"></script>
	<script src="static/js/jquery.stellar.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/jquery.animateNumber.min.js"></script>
	<script src="static/js/bootstrap-datepicker.js"></script>
	<script src="static/js/jquery.timepicker.min.js"></script>
	<script src="static/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="static/js/google-map.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>