<!DOCTYPE html>
<html lang="en">

<head>
	<title>SIGENOR</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="static/css/animate.css">

	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="static/css/magnific-popup.css">

	<link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="static/css/jquery.timepicker.css">


	<link rel="stylesheet" href="static/css/flaticon.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body onload="creat()">

	<div class="wrap">
		<div class="container">
			<div class="row justify-content-between">

				<div class="col-12 col-md d-flex justify-content-md-end">

					<div class="social-media">
						<p class="mb-0 d-flex">
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
							<a href="#" class="d-flex align-items-center justify-content-center"><span
									class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<li><a class="navbar-brand" href="#index"><img src="/static/images/logo2.png">SIGENOR</a></li>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">

				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Docentes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="docenteAdd#registro">Crear Docentes</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="docenteEdit#modificar">Modificar Docentes</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Estudiantes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="estudianteAdd#registroE">Crear Estudiantes</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="estudiiante#modificarE">Modificar Estudiantes</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Asignatura
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="asignatura#registroA">Crear Asignaturas</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="asignatura#modificarA">Modificar Asignatura</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Grupos
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="grupoAdd#registroG">Crear Grupos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#modificarG">Modificar Grupos</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Usuarios
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#registro">Crear Usuarios</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="">Modificar Usuarios</a>
						</div>
					</li>

					<li class="nav-item"><a href="" class="nav-link">Cerrar Sesión</a></li>
					<!--<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
					<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li> 
					-->
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<section class="hero-wrap" id="index">
		<div class="home-slider owl-carousel js-fullheight">
			<div class="slider-item js-fullheight" style="background-image:url(/static/images/PrimerFondo.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate">
							<div class="text w-100 mt-5 text-center">
								<h1>SIGENOR</h1>
								<span class="subheading-2">2020</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight" style="background-image:url(/static/images/SegundoFondo.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
						<div class="col-md-12 ftco-animate">
							<div class="text w-100 mt-5 text-center">
								<h1>Evaluación por medio de rubricas</h1>
								<span class="subheading-2">2020</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="modificarG" class="ftco-section testimony-section"
		style="background-image: url(/static/images/gruposM.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center mb-3 pb-2">
				<div class="container">
					<form action="/grupoSearch" class="appointment-form" method="POST">

						<div class="row">
							<div class="col-4">
							</div>
							<div class="col-3">
								<input class="form-control mr-sm-2" type="search" placeholder="Ingresar código grupo"
									aria-label="Search" name="numGrupo">
							</div>
							<div class="col-2">
								<input type="submit" value="BUSCAR" class="btn btn-white py-2 px-3">

							</div>
						</div>
					</form>

				</div>

				<div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
					<form action="grupoEdit" class="appointment-form" method="post">
						<br>

						<div class="row">
							<div class="col-5">
							</div>
							<h3 class="col-mb-4	">Modificar GRUPOS</h3>
							<div class="row">
								<div class="col-md-4">
									<label style="color: white;">Numero de grupo</label>

								</div>
								<div class="col-md-6">

										<input type="text" class="form-control" name="numGrupo"
											value=" <%= grupo.numGrupo  %>">

								</div>
								<br>
								<div class="col-md-4">
									<br>
									<label style="color: white;">Seleccionar asignatura</label>

								</div>
								<div class="col-md-6">
									<br>	
									<div class="form-group">

										<select class="form-control" id="exampleFormControlSelect1"
											name="codigoAsignatura">

											<% for(var i = 0; i < asignatura.length; i++){ %>
											<option style="background-color:#52D976" value="<%= asignatura[i]._id  %>">
												<%= asignatura[i].nombreASignatura %></option>



											<% } %>

										</select>
									</div>
								</div>
								<div class="col-md-4">
									<label style="color: white;">Seleccionar Docente</label>

								</div>
								<div class="col-md-6">
									<div class="form-group">

										<select class="form-control" id="exampleFormControlSelect1"
											name="codigoDocente">

											<% for(var i = 0; i < docente.length; i++){ %>
											<option style="background-color:#52D976" value="<%= docente[i]._id  %>">
												<%= docente[i].nombres %></option>



											<% } %>

										</select>
									</div>
								</div>
								<div class="col-md-4">
									<label style="color: white;">Seleccionar estudiante</label>

								</div>

								<div class="col-md-6">
									<div class="form-group">

										<select class="form-control" name="estudiante" id="selEst">

											<% for(var i = 0; i < estudiante.length; i++){ %>
											<option style="background-color:#52D976"
												value="<%= estudiante[i].codigoEstudiante  %>">
												<%= estudiante[i].nombres %></option>



											<% } %>
										</select>
									</div>
								</div>
								<input id="estudiantesJS" name="tempEsta" type="hidden" value="<%= grupo.tempEsta  %>">

								<script>

									var gt;

									function creat() {
										gt = JSON.parse(document.getElementById("estudiantesJS").value);
									}

									function verJs() {
										alert("JS " + JSON.stringify(gt))
									}

									function bot() {
										alert("Jajajajaj");
										tex = document.getElementById("selEst").options[document.getElementById("selEst").selectedIndex].value;
										gt.push({ "estudiante": tex });
										alert("selEst" + gt[0].estudiante);
										document.getElementById("estudiantesJS").value = JSON.stringify(gt)


									}
									function eliminar() {
										alert("Se eliminó");
										tex = document.getElementById("selEst").options[document.getElementById("selEst").selectedIndex].value;
										index=gt.indexOf({"estudiante":tex})
										gt.splice(index,1);
										document.getElementById("estudiantesJS").value = JSON.stringify(gt)
										alert("Cantidad estudiantes" + gt.length);




									}
								</script>
								<div class="col-md-4">
								</div>
								<div class="col-md-6">

									<table class="table table-bordered" style="background-color:white; color:#3A32DB"
										width="1200" align="center">
										<thead>
											<tr>
												<th>N°</th>
												<th>codigo</th>
												<th>Nombre</th>

											</tr>
										</thead>
										<tbody>

											<%if (mensaje == "") { %>
											<% for(var i = 0; i < grupo.codigoEstudiantes.length; i++){ %>
											<tr>
												<td><%= i + 1 %></td>
												<td><%= grupo.codigoEstudiantes[i].codigoEstudiante %></td>
												<td><%= grupo.codigoEstudiantes[i].nombres %></td>


											</tr>
											<% } %>
											<% } else if(position == -1) { %>
											<tr>
												<td><%= i + 1 %></td>
												<td><%= asignatura[i].codigoAsignatura %></td>
												<td><%= asignatura[i].nombreASignatura %></td>


											</tr>
											<% } %>
											<%= mensaje %>
										</tbody>
									</table>
								</div>
								<div class="col-md-5">
								</div>
								<div class="col-md-2">
									<button class="btn btn-danger" onclick="bot()" type="button">Agregar</button>
								</div>
								<div class="col-md-2">
									<button class="btn btn-danger" onclick="eliminar()" type="button">Eliminar</button>

								</div>
								<div class="col-md-3">
								</div>
								
								<div class="col-md-6">
									<br>
									<label style="color: white;">Nro Cupos</label>

								</div>
								<div class="col-md-2">
									<div class="form-group">
										<br>
										<input type="number" class="form-control" placeholder="cupos" value="10"
											name="cantCupos">
									</div>
								</div>

								<div class="col-md-6">
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<input type="submit" value="Registrar" class="btn btn-white py-3 px-4">
									</div>
								</div>
							</div>
					</form>
				</div>


			</div>

		</div>
	</section>


	<footer class="ftco-footer ftco-no-pb ftco-section">

		<div class="container">
			<div class="row mb-4">
				<div class="col-md-6 col-lg-7">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2" style="text-align: center;">Desarrolladores</h2>
						<ul class="list-unstyled open-hours">
							<li class="d-flex"><span>José Manuel Córdoba
									Sandoval</span><span>jose.cordoba01@uptc.edu.co</span></li>
							<li class="d-flex"><span>Santiago Mariño
									Vasquéz</span><span>santiago.marino@uptc.edu.co</span></li>
							<li class="d-flex"><span>Holman Orlando Ricaurte
									Rey</span><span>holman.ricaurte01@uptc.edu.co</span></li>

						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2" style="text-align: center;">SIGENOR</h2>
						<div class="text-center"> <img src="/static/images/logo2.png" class="img-fluid"
								alt="Responsive image">
						</div>

						<p>
							Aplicacion para la gestión de notas por medio de rubricas, creada por y para estudiantes.
						</p>

					</div>
				</div>

			</div>

			<div class="container-fluid px-0 bg-primary py-3">
				<div class="row no-gutters">
					<div class="col-md-12 text-center">

						<p class="mb-0">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved SIGENOR</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
	</footer>


	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" /></svg></div>


	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.easing.1.3.js"></script>
	<script src="static/js/jquery.waypoints.min.js"></script>
	<script src="static/js/jquery.stellar.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/jquery.animateNumber.min.js"></script>
	<script src="static/js/bootstrap-datepicker.js"></script>
	<script src="static/js/jquery.timepicker.min.js"></script>
	<script src="static/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="static/js/google-map.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>